/*
                        _______
                       /       \
                      .==.    .==.
                     ((  ))==((  ))
                    / "=="    "=="\
                   /____|| || ||___\
       ________     ____    ________  ___    ___
       |  ___  \   /    \   |  ___  \ |  |  /  /
       |  |  \  \ /  /\  \  |  |  \  \|  |_/  /
       |  |   )  /  /__\  \ |  |__/  /|  ___  \
       |  |__/  /  ______  \|  ____  \|  |  \  \
_______|_______/__/ ____ \__\__|___\__\__|___\__\____
|  ___  \ |  ____/ /    \   |  ___  \ |  ____|  ___  \
|  |  \  \|  |___ /  /\  \  |  |  \  \|  |___|  |  \  \
|  |__/  /|  ____/  /__\  \ |  |   )  |  ____|  |__/  /
|  ____  \|  |__/  ______  \|  |__/  /|  |___|  ____  \
|__|   \__\____/__/      \__\_______/ |______|__|   \__\
                https://darkreader.org
*/
/* User-Agent Style */
.dark {
  html {
    background-color: #181a1b !important;
  }
  html,
  body,
  input,
  textarea,
  select,
  button {
    background-color: #181a1b;
  }
  html,
  body,
  input,
  textarea,
  select,
  button {
    border-color: #736b5e;
    color: #e8e6e3;
  }
  a {
    color: #3391ff;
  }
  table {
    border-color: #545b5e;
  }
  ::placeholder {
    color: #b2aba1;
  }
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    background-color: #555b00 !important;
    color: #e8e6e3 !important;
  }
  ::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #454a4d;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
  }
  ::-webkit-scrollbar-corner {
    background-color: #181a1b;
  }
  * {
    scrollbar-color: #202324 #454a4d;
  }
  ::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
  }
  ::-moz-selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
  }

  /* Invert Style */
  .jfk-bubble.gtx-bubble,
  .captcheck_answer_label > input + img {
    filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
  }

  /* Variables Style */
  :root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
  }

  /* Modified CSS */
  .ͼ1.cm-focused {
    outline-color: rgb(186, 123, 0);
  }
  .ͼ1 .cm-content {
    outline-color: initial;
  }
  .ͼ1.cm-light .cm-content {
    caret-color: rgb(232, 230, 227);
  }
  .ͼ1.cm-dark .cm-content {
    caret-color: rgb(232, 230, 227);
  }
  .ͼ1.cm-light .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(45, 49, 51);
  }
  .ͼ1.cm-dark .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(26, 28, 29);
  }
  .ͼ1.cm-focused.cm-light .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(40, 44, 45);
  }
  .ͼ1.cm-focused.cm-dark .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(27, 41, 41);
  }
  .ͼ1 .cm-cursor {
    border-left-color: rgb(140, 130, 115);
  }
  .ͼ1.cm-dark .cm-cursor {
    border-left-color: rgb(118, 109, 97);
  }
  .ͼ1.cm-light .cm-activeLine {
    background-color: rgb(27, 30, 31);
  }
  .ͼ1.cm-dark .cm-activeLine {
    background-color: rgb(27, 38, 46);
  }
  .ͼ1.cm-light .cm-specialChar {
    color: rgb(255, 26, 26);
  }
  .ͼ1.cm-dark .cm-specialChar {
    color: rgb(255, 109, 127);
  }
  .ͼ1 .cm-placeholder {
    color: rgb(157, 148, 136);
  }
  .ͼ1 .cm-button {
    color: inherit;
  }
  .ͼ1.cm-light .cm-button:active {
    background-image: linear-gradient(rgb(66, 72, 75), rgb(49, 53, 55));
  }
  .ͼ1.cm-light .cm-button {
    background-image: linear-gradient(rgb(31, 34, 35), rgb(44, 47, 49));
    border-color: rgb(82, 88, 92);
  }
  .ͼ1.cm-dark .cm-button:active {
    background-image: linear-gradient(rgb(13, 14, 14), rgb(38, 42, 43));
  }
  .ͼ1.cm-dark .cm-button {
    background-image: linear-gradient(rgb(64, 69, 72), rgb(13, 14, 14));
    border-color: rgb(82, 88, 92);
  }
  .ͼ1 .cm-textfield {
    color: inherit;
    border-color: rgb(66, 71, 74);
  }
  .ͼ1.cm-light .cm-textfield {
    background-color: rgb(24, 26, 27);
  }
  .ͼ1.cm-dark .cm-textfield {
    border-color: rgb(112, 104, 92);
    background-color: inherit;
  }
  .ͼ1 .cm-selectionMatch {
    background-color: rgba(58, 133, 0, 0.5);
  }
  .ͼ1 .cm-searchMatch .cm-selectionMatch {
    background-color: transparent;
  }
  .ͼ1 .cm-tooltip {
    border-color: rgb(58, 62, 65);
    background-color: rgb(30, 32, 33);
  }
  .ͼ1 .cm-tooltip.cm-tooltip-autocomplete > ul > li[aria-selected] {
    background-image: initial;
    background-color: rgb(46, 50, 51);
    color: rgb(232, 230, 227);
  }
  .ͼ1 .cm-tooltip.cm-tooltip-autocomplete > ul {
    list-style-image: initial;
  }
  .ͼ1.cm-light .cm-snippetField {
    background-color: rgba(0, 0, 0, 0.13);
  }
  .ͼ1.cm-dark .cm-snippetField {
    background-color: rgba(24, 26, 27, 0.13);
  }
  .ͼ1 .cm-snippetFieldPosition {
    border-left-color: rgb(82, 88, 92);
  }
  .ͼ1 .cm-completionMatchedText {
    text-decoration-color: initial;
  }
  .ͼ1 .cm-matchingBracket {
    color: rgb(73, 255, 73);
  }
  .ͼ1 .cm-nonmatchingBracket {
    color: rgb(223, 94, 94);
  }
  .ͼ1 .cm-foldPlaceholder {
    background-color: rgb(34, 36, 38);
    border-color: rgb(58, 62, 65);
    color: rgb(157, 148, 136);
  }
  .ͼ1.cm-light .cm-gutters {
    background-color: rgb(30, 32, 33);
    color: rgb(168, 160, 149);
    border-right-color: rgb(58, 62, 65);
  }
  .ͼ1.cm-dark .cm-gutters {
    background-color: rgb(40, 44, 45);
    color: rgb(200, 195, 188);
  }
  .ͼ4c {
    text-decoration-color: initial;
  }
  .ͼ4d {
    text-decoration-color: initial;
  }
  .ͼ4g {
    color: rgb(218, 75, 88);
  }
  .ͼ4h {
    color: rgb(119, 102, 238);
  }
  .ͼ4i {
    color: rgb(140, 236, 197);
  }
  .ͼ4j {
    color: rgb(200, 195, 188);
  }
  .ͼ4k {
    color: rgb(255, 100, 37);
  }
  .ͼ4l {
    color: rgb(206, 202, 195);
  }
  .ͼ4m {
    color: rgb(125, 84, 199);
  }
  .ͼ4n {
    color: rgb(109, 255, 200);
  }
  .ͼ4o {
    color: rgb(127, 218, 237);
  }
  .ͼ4p {
    color: rgb(145, 200, 218);
  }
  .ͼ4q {
    color: rgb(82, 145, 255);
  }
  .ͼ4r {
    color: rgb(159, 151, 138);
  }
  .ͼ4s {
    color: rgb(157, 148, 135);
  }
  .ͼ4t {
    color: rgb(255, 26, 26);
  }
  .ͼ1.ͼ4b.cm-focused {
    outline-color: rgb(186, 123, 0);
  }
  .ͼ1.ͼ4b {
    background-color: rgb(24, 26, 27);
    color: rgb(214, 210, 205);
  }
  .ͼ1.ͼ4b.cm-light .cm-gutters {
    background-color: transparent;
  }
  .ͼ1.ͼ4b .cm-content {
    outline-color: initial;
    caret-color: rgb(232, 230, 227);
  }
  .ͼ1.ͼ4b .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(45, 49, 51);
  }
  .ͼ1.ͼ4b.cm-focused .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(40, 44, 45);
  }
  .ͼ1.ͼ4b .cm-cursor {
    border-left-color: currentcolor;
  }
  .ͼ1.ͼ4b .cm-placeholder {
    color: rgb(157, 148, 136);
  }
  .ͼ1.ͼ4b .cm-button:active {
    background-image: linear-gradient(rgb(66, 72, 75), rgb(49, 53, 55));
  }
  .ͼ1.ͼ4b .cm-button {
    color: inherit;
    background-image: linear-gradient(rgb(31, 34, 35), rgb(44, 47, 49));
    border-color: rgb(82, 88, 92);
  }
  .ͼ1.ͼ4b .cm-textfield {
    color: inherit;
    border-color: rgb(66, 71, 74);
    background-color: rgb(24, 26, 27);
  }
  .ͼ3t {
    text-decoration-color: initial;
  }
  .ͼ3u {
    text-decoration-color: initial;
  }
  .ͼ3x {
    color: rgb(218, 75, 88);
  }
  .ͼ3y {
    color: rgb(119, 102, 238);
  }
  .ͼ3z {
    color: rgb(140, 236, 197);
  }
  .ͼ40 {
    color: rgb(200, 195, 188);
  }
  .ͼ41 {
    color: rgb(255, 100, 37);
  }
  .ͼ42 {
    color: rgb(206, 202, 195);
  }
  .ͼ43 {
    color: rgb(125, 84, 199);
  }
  .ͼ44 {
    color: rgb(109, 255, 200);
  }
  .ͼ45 {
    color: rgb(127, 218, 237);
  }
  .ͼ46 {
    color: rgb(145, 200, 218);
  }
  .ͼ47 {
    color: rgb(82, 145, 255);
  }
  .ͼ48 {
    color: rgb(159, 151, 138);
  }
  .ͼ49 {
    color: rgb(157, 148, 135);
  }
  .ͼ4a {
    color: rgb(255, 26, 26);
  }
  .ͼ1.ͼ3s.cm-focused {
    outline-color: rgb(186, 123, 0);
  }
  .ͼ1.ͼ3s {
    background-color: rgb(24, 26, 27);
    color: rgb(214, 210, 205);
  }
  .ͼ1.ͼ3s.cm-light .cm-gutters {
    background-color: transparent;
  }
  .ͼ1.ͼ3s .cm-content {
    outline-color: initial;
    caret-color: rgb(232, 230, 227);
  }
  .ͼ1.ͼ3s .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(45, 49, 51);
  }
  .ͼ1.ͼ3s.cm-focused .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(40, 44, 45);
  }
  .ͼ1.ͼ3s .cm-cursor {
    border-left-color: currentcolor;
  }
  .ͼ1.ͼ3s .cm-placeholder {
    color: rgb(157, 148, 136);
  }
  .ͼ1.ͼ3s .cm-button:active {
    background-image: linear-gradient(rgb(66, 72, 75), rgb(49, 53, 55));
  }
  .ͼ1.ͼ3s .cm-button {
    color: inherit;
    background-image: linear-gradient(rgb(31, 34, 35), rgb(44, 47, 49));
    border-color: rgb(82, 88, 92);
  }
  .ͼ1.ͼ3s .cm-textfield {
    color: inherit;
    border-color: rgb(66, 71, 74);
    background-color: rgb(24, 26, 27);
  }
  .ͼ3a {
    text-decoration-color: initial;
  }
  .ͼ3b {
    text-decoration-color: initial;
  }
  .ͼ3e {
    color: rgb(218, 75, 88);
  }
  .ͼ3f {
    color: rgb(119, 102, 238);
  }
  .ͼ3g {
    color: rgb(140, 236, 197);
  }
  .ͼ3h {
    color: rgb(200, 195, 188);
  }
  .ͼ3i {
    color: rgb(255, 100, 37);
  }
  .ͼ3j {
    color: rgb(206, 202, 195);
  }
  .ͼ3k {
    color: rgb(125, 84, 199);
  }
  .ͼ3l {
    color: rgb(109, 255, 200);
  }
  .ͼ3m {
    color: rgb(127, 218, 237);
  }
  .ͼ3n {
    color: rgb(145, 200, 218);
  }
  .ͼ3o {
    color: rgb(82, 145, 255);
  }
  .ͼ3p {
    color: rgb(159, 151, 138);
  }
  .ͼ3q {
    color: rgb(157, 148, 135);
  }
  .ͼ3r {
    color: rgb(255, 26, 26);
  }
  .ͼ1.ͼ39.cm-focused {
    outline-color: rgb(186, 123, 0);
  }
  .ͼ1.ͼ39 {
    background-color: rgb(24, 26, 27);
    color: rgb(214, 210, 205);
  }
  .ͼ1.ͼ39.cm-light .cm-gutters {
    background-color: transparent;
  }
  .ͼ1.ͼ39 .cm-content {
    outline-color: initial;
    caret-color: rgb(232, 230, 227);
  }
  .ͼ1.ͼ39 .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(45, 49, 51);
  }
  .ͼ1.ͼ39.cm-focused .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(40, 44, 45);
  }
  .ͼ1.ͼ39 .cm-cursor {
    border-left-color: currentcolor;
  }
  .ͼ1.ͼ39 .cm-placeholder {
    color: rgb(157, 148, 136);
  }
  .ͼ1.ͼ39 .cm-button:active {
    background-image: linear-gradient(rgb(66, 72, 75), rgb(49, 53, 55));
  }
  .ͼ1.ͼ39 .cm-button {
    color: inherit;
    background-image: linear-gradient(rgb(31, 34, 35), rgb(44, 47, 49));
    border-color: rgb(82, 88, 92);
  }
  .ͼ1.ͼ39 .cm-textfield {
    color: inherit;
    border-color: rgb(66, 71, 74);
    background-color: rgb(24, 26, 27);
  }
  .ͼ2r {
    text-decoration-color: initial;
  }
  .ͼ2s {
    text-decoration-color: initial;
  }
  .ͼ2v {
    color: rgb(218, 75, 88);
  }
  .ͼ2w {
    color: rgb(119, 102, 238);
  }
  .ͼ2x {
    color: rgb(140, 236, 197);
  }
  .ͼ2y {
    color: rgb(200, 195, 188);
  }
  .ͼ2z {
    color: rgb(255, 100, 37);
  }
  .ͼ30 {
    color: rgb(206, 202, 195);
  }
  .ͼ31 {
    color: rgb(125, 84, 199);
  }
  .ͼ32 {
    color: rgb(109, 255, 200);
  }
  .ͼ33 {
    color: rgb(127, 218, 237);
  }
  .ͼ34 {
    color: rgb(145, 200, 218);
  }
  .ͼ35 {
    color: rgb(82, 145, 255);
  }
  .ͼ36 {
    color: rgb(159, 151, 138);
  }
  .ͼ37 {
    color: rgb(157, 148, 135);
  }
  .ͼ38 {
    color: rgb(255, 26, 26);
  }
  .ͼ1.ͼ2q.cm-focused {
    outline-color: rgb(186, 123, 0);
  }
  .ͼ1.ͼ2q {
    background-color: rgb(24, 26, 27);
    color: rgb(214, 210, 205);
  }
  .ͼ1.ͼ2q.cm-light .cm-gutters {
    background-color: transparent;
  }
  .ͼ1.ͼ2q .cm-content {
    outline-color: initial;
    caret-color: rgb(232, 230, 227);
  }
  .ͼ1.ͼ2q .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(45, 49, 51);
  }
  .ͼ1.ͼ2q.cm-focused .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(40, 44, 45);
  }
  .ͼ1.ͼ2q .cm-cursor {
    border-left-color: currentcolor;
  }
  .ͼ1.ͼ2q .cm-placeholder {
    color: rgb(157, 148, 136);
  }
  .ͼ1.ͼ2q .cm-button:active {
    background-image: linear-gradient(rgb(66, 72, 75), rgb(49, 53, 55));
  }
  .ͼ1.ͼ2q .cm-button {
    color: inherit;
    background-image: linear-gradient(rgb(31, 34, 35), rgb(44, 47, 49));
    border-color: rgb(82, 88, 92);
  }
  .ͼ1.ͼ2q .cm-textfield {
    color: inherit;
    border-color: rgb(66, 71, 74);
    background-color: rgb(24, 26, 27);
  }
  .ͼ28 {
    text-decoration-color: initial;
  }
  .ͼ29 {
    text-decoration-color: initial;
  }
  .ͼ2c {
    color: rgb(218, 75, 88);
  }
  .ͼ2d {
    color: rgb(119, 102, 238);
  }
  .ͼ2e {
    color: rgb(140, 236, 197);
  }
  .ͼ2f {
    color: rgb(200, 195, 188);
  }
  .ͼ2g {
    color: rgb(255, 100, 37);
  }
  .ͼ2h {
    color: rgb(206, 202, 195);
  }
  .ͼ2i {
    color: rgb(125, 84, 199);
  }
  .ͼ2j {
    color: rgb(109, 255, 200);
  }
  .ͼ2k {
    color: rgb(127, 218, 237);
  }
  .ͼ2l {
    color: rgb(145, 200, 218);
  }
  .ͼ2m {
    color: rgb(82, 145, 255);
  }
  .ͼ2n {
    color: rgb(159, 151, 138);
  }
  .ͼ2o {
    color: rgb(157, 148, 135);
  }
  .ͼ2p {
    color: rgb(255, 26, 26);
  }
  .ͼ1.ͼ27.cm-focused {
    outline-color: rgb(186, 123, 0);
  }
  .ͼ1.ͼ27 {
    background-color: rgb(24, 26, 27);
    color: rgb(214, 210, 205);
  }
  .ͼ1.ͼ27.cm-light .cm-gutters {
    background-color: transparent;
  }
  .ͼ1.ͼ27 .cm-content {
    outline-color: initial;
    caret-color: rgb(232, 230, 227);
  }
  .ͼ1.ͼ27 .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(45, 49, 51);
  }
  .ͼ1.ͼ27.cm-focused .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(40, 44, 45);
  }
  .ͼ1.ͼ27 .cm-cursor {
    border-left-color: currentcolor;
  }
  .ͼ1.ͼ27 .cm-placeholder {
    color: rgb(157, 148, 136);
  }
  .ͼ1.ͼ27 .cm-button:active {
    background-image: linear-gradient(rgb(66, 72, 75), rgb(49, 53, 55));
  }
  .ͼ1.ͼ27 .cm-button {
    color: inherit;
    background-image: linear-gradient(rgb(31, 34, 35), rgb(44, 47, 49));
    border-color: rgb(82, 88, 92);
  }
  .ͼ1.ͼ27 .cm-textfield {
    color: inherit;
    border-color: rgb(66, 71, 74);
    background-color: rgb(24, 26, 27);
  }
  .ͼ1p {
    text-decoration-color: initial;
  }
  .ͼ1q {
    text-decoration-color: initial;
  }
  .ͼ1t {
    color: rgb(218, 75, 88);
  }
  .ͼ1u {
    color: rgb(119, 102, 238);
  }
  .ͼ1v {
    color: rgb(140, 236, 197);
  }
  .ͼ1w {
    color: rgb(200, 195, 188);
  }
  .ͼ1x {
    color: rgb(255, 100, 37);
  }
  .ͼ1y {
    color: rgb(206, 202, 195);
  }
  .ͼ1z {
    color: rgb(125, 84, 199);
  }
  .ͼ20 {
    color: rgb(109, 255, 200);
  }
  .ͼ21 {
    color: rgb(127, 218, 237);
  }
  .ͼ22 {
    color: rgb(145, 200, 218);
  }
  .ͼ23 {
    color: rgb(82, 145, 255);
  }
  .ͼ24 {
    color: rgb(159, 151, 138);
  }
  .ͼ25 {
    color: rgb(157, 148, 135);
  }
  .ͼ26 {
    color: rgb(255, 26, 26);
  }
  .ͼ1.ͼ1o.cm-focused {
    outline-color: rgb(186, 123, 0);
  }
  .ͼ1.ͼ1o {
    background-color: rgb(24, 26, 27);
    color: rgb(214, 210, 205);
  }
  .ͼ1.ͼ1o.cm-light .cm-gutters {
    background-color: transparent;
  }
  .ͼ1.ͼ1o .cm-content {
    outline-color: initial;
    caret-color: rgb(232, 230, 227);
  }
  .ͼ1.ͼ1o .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(45, 49, 51);
  }
  .ͼ1.ͼ1o.cm-focused .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(40, 44, 45);
  }
  .ͼ1.ͼ1o .cm-cursor {
    border-left-color: currentcolor;
  }
  .ͼ1.ͼ1o .cm-placeholder {
    color: rgb(157, 148, 136);
  }
  .ͼ1.ͼ1o .cm-button:active {
    background-image: linear-gradient(rgb(66, 72, 75), rgb(49, 53, 55));
  }
  .ͼ1.ͼ1o .cm-button {
    color: inherit;
    background-image: linear-gradient(rgb(31, 34, 35), rgb(44, 47, 49));
    border-color: rgb(82, 88, 92);
  }
  .ͼ1.ͼ1o .cm-textfield {
    color: inherit;
    border-color: rgb(66, 71, 74);
    background-color: rgb(24, 26, 27);
  }
  .ͼ16 {
    text-decoration-color: initial;
  }
  .ͼ17 {
    text-decoration-color: initial;
  }
  .ͼ1a {
    color: rgb(218, 75, 88);
  }
  .ͼ1b {
    color: rgb(119, 102, 238);
  }
  .ͼ1c {
    color: rgb(140, 236, 197);
  }
  .ͼ1d {
    color: rgb(200, 195, 188);
  }
  .ͼ1e {
    color: rgb(255, 100, 37);
  }
  .ͼ1f {
    color: rgb(206, 202, 195);
  }
  .ͼ1g {
    color: rgb(125, 84, 199);
  }
  .ͼ1h {
    color: rgb(109, 255, 200);
  }
  .ͼ1i {
    color: rgb(127, 218, 237);
  }
  .ͼ1j {
    color: rgb(145, 200, 218);
  }
  .ͼ1k {
    color: rgb(82, 145, 255);
  }
  .ͼ1l {
    color: rgb(159, 151, 138);
  }
  .ͼ1m {
    color: rgb(157, 148, 135);
  }
  .ͼ1n {
    color: rgb(255, 26, 26);
  }
  .cm-wrap.cm-focused {
    outline-color: rgb(186, 123, 0);
  }
  .cm-wrap {
    background-color: rgb(27, 29, 30);
    color: rgb(214, 210, 205);
  }
  .cm-wrap.cm-light .cm-gutters {
    background-color: transparent;
  }
  .cm-wrap .cm-content {
    outline-color: initial;
    caret-color: rgb(232, 230, 227);
  }
  .cm-wrap .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(45, 49, 51);
  }
  .cm-wrap.cm-focused .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(40, 44, 45);
  }
  .cm-wrap .cm-cursor {
    border-left-color: currentcolor;
  }
  .cm-wrap .cm-placeholder {
    color: rgb(157, 148, 136);
  }
  .cm-wrap .cm-button:active {
    background-image: linear-gradient(rgb(66, 72, 75), rgb(49, 53, 55));
  }
  .cm-wrap .cm-button {
    color: inherit;
    background-image: linear-gradient(rgb(31, 34, 35), rgb(44, 47, 49));
    border-color: rgb(82, 88, 92);
  }
  .cm-wrap .cm-textfield {
    color: inherit;
    border-color: rgb(66, 71, 74);
    background-color: rgb(24, 26, 27);
  }
  .ͼn {
    text-decoration-color: initial;
  }
  .ͼo {
    text-decoration-color: initial;
  }
  .ͼr {
    color: rgb(218, 75, 88);
  }
  .ͼs {
    color: rgb(119, 102, 238);
  }
  .ͼt {
    color: rgb(140, 236, 197);
  }
  .ͼu {
    color: rgb(200, 195, 188);
  }
  .ͼv {
    color: rgb(255, 100, 37);
  }
  .ͼw {
    color: rgb(206, 202, 195);
  }
  .ͼx {
    color: rgb(125, 84, 199);
  }
  .ͼy {
    color: rgb(109, 255, 200);
  }
  .ͼz {
    color: rgb(127, 218, 237);
  }
  .ͼ10 {
    color: rgb(145, 200, 218);
  }
  .ͼ11 {
    color: rgb(82, 145, 255);
  }
  .ͼ12 {
    color: rgb(159, 151, 138);
  }
  .ͼ13 {
    color: rgb(157, 148, 135);
  }
  .ͼ14 {
    color: rgb(255, 26, 26);
  }
  .ͼ1.ͼm.cm-focused {
    outline-color: rgb(186, 123, 0);
  }
  .ͼ1.ͼm {
    background-color: rgb(27, 29, 30);
    color: rgb(214, 210, 205);
  }
  .ͼ1.ͼm.cm-light .cm-gutters {
    background-color: transparent;
  }
  .ͼ1.ͼm .cm-content {
    outline-color: initial;
    caret-color: rgb(232, 230, 227);
  }
  .ͼ1.ͼm .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(45, 49, 51);
  }
  .ͼ1.ͼm.cm-focused .cm-selectionBackground {
    background-image: initial;
    background-color: rgb(40, 44, 45);
  }
  .ͼ1.ͼm .cm-cursor {
    border-left-color: currentcolor;
  }
  .ͼ1.ͼm .cm-placeholder {
    color: rgb(157, 148, 136);
  }
  .ͼ1.ͼm .cm-button:active {
    background-image: linear-gradient(rgb(66, 72, 75), rgb(49, 53, 55));
  }
  .ͼ1.ͼm .cm-button {
    color: inherit;
    background-image: linear-gradient(rgb(31, 34, 35), rgb(44, 47, 49));
    border-color: rgb(82, 88, 92);
  }
  .ͼ1.ͼm .cm-textfield {
    color: inherit;
    border-color: rgb(66, 71, 74);
    background-color: rgb(24, 26, 27);
  }
  .ͼ4 {
    text-decoration-color: initial;
  }
  .ͼ5 {
    text-decoration-color: initial;
  }
  .ͼ8 {
    color: rgb(237, 109, 255);
  }
  .ͼ9 {
    color: rgb(119, 102, 238);
  }
  .ͼa {
    color: rgb(140, 236, 197);
  }
  .ͼb {
    color: rgb(238, 90, 90);
  }
  .ͼc {
    color: rgb(255, 100, 37);
  }
  .ͼd {
    color: rgb(51, 125, 255);
  }
  .ͼe {
    color: rgb(136, 85, 255);
  }
  .ͼf {
    color: rgb(109, 255, 200);
  }
  .ͼg {
    color: rgb(127, 218, 237);
  }
  .ͼh {
    color: rgb(145, 200, 218);
  }
  .ͼi {
    color: rgb(82, 145, 255);
  }
  .ͼj {
    color: rgb(255, 167, 97);
  }
  .ͼk {
    color: rgb(157, 148, 135);
  }
  .ͼl {
    color: rgb(255, 26, 26);
  }
  .ͼ1.ͼ3 .cm-line ::selection {
    background-color: transparent !important;
  }
  .ͼ1.ͼ3 .cm-line::selection {
    background-color: transparent !important;
  }
  .ͼ1.ͼ3 .cm-line {
    caret-color: transparent !important;
  }
  hr {
    color: inherit;
  }
  abbr[title] {
    text-decoration-color: initial;
  }
  table {
    border-color: inherit;
  }
  button {
    background-color: transparent;
    background-image: none;
  }
  button:focus {
    outline-color: rgb(186, 123, 0);
  }
  ol,
  ul {
    list-style-image: initial;
  }
  *,
  ::after,
  ::before {
    border-color: rgb(55, 60, 62);
  }
  input::placeholder,
  textarea::placeholder {
    color: rgb(175, 169, 158);
  }
  a {
    color: inherit;
    text-decoration-color: inherit;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
  }
  [type='text'],
  [type='time'],
  [type='url'],
  select,
  textarea {
    background-color: rgb(24, 26, 27);
    border-color: rgb(101, 94, 83);
  }
  [type='text']:focus,
  [type='time']:focus,
  [type='url']:focus,
  select:focus,
  textarea:focus {
    outline-color: transparent;
    box-shadow: var(--tw-empty) 0 0 0 0px #fff,
      var(--tw-empty) 0 0 0 calc(1px + 0px) rgba(59, 130, 246, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-color: rgb(15, 60, 159);
  }
  input::placeholder,
  textarea::placeholder {
    color: rgb(158, 149, 137);
  }
  select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%2371717a' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
  }
  [type='radio'] {
    color: rgb(56, 143, 237);
    background-color: rgb(24, 26, 27);
    border-color: rgb(101, 94, 83);
  }
  [type='radio']:focus {
    outline-color: transparent;
    box-shadow: var(--tw-empty) 0 0 0 0px #fff,
      var(--tw-empty) 0 0 0 calc(1px + 0px) rgba(59, 130, 246, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
  [type='radio']:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
  }
  [type='radio']:checked,
  [type='radio']:checked:focus,
  [type='radio']:checked:hover {
    border-color: transparent;
    background-color: currentcolor;
  }
  [type='file'] {
    background-image: unset;
    background-color: unset;
    border-color: inherit;
  }
  [type='file']:focus {
    outline-color: rgb(186, 123, 0);
  }
  .divide-blueGray-200 > :not([hidden]) ~ :not([hidden]) {
    border-color: rgb(39, 55, 76);
  }
  .bg-transparent {
    background-color: transparent;
  }
  .bg-white {
    background-color: rgb(24, 26, 27);
  }
  .bg-red-200 {
    background-color: rgb(82, 2, 2);
  }
  .bg-blue-200 {
    background-color: rgb(42, 46, 48);
  }
  .bg-blue-800 {
    background-color: rgb(24, 51, 140);
  }
  .bg-blueGray-50 {
    background-color: rgb(27, 29, 30);
  }
  .bg-blueGray-500 {
    background-color: rgb(80, 93, 111);
  }
  .bg-brand-default {
    background-color: rgb(35, 63, 99);
  }
  .hover\:bg-blue-900:hover {
    background-color: rgb(24, 46, 110);
  }
  .border-transparent {
    border-color: transparent;
  }
  .border-red-400 {
    border-color: rgb(140, 7, 7);
  }
  .border-blue-400 {
    border-color: rgb(5, 68, 147);
  }
  .border-blueGray-200 {
    border-color: rgb(39, 55, 76);
  }
  .border-brand-default {
    border-color: rgb(54, 96, 151);
  }
  .focus\:outline-none:focus,
  .outline-none {
    outline-color: transparent;
  }
  .shadow {
    box-shadow: var(--tw-empty) 0 0 0 0px #fff,
      var(--tw-empty) 0 0 0 calc(1px + 0px) rgba(59, 130, 246, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
  .focus\:ring-1:focus {
    box-shadow: var(--tw-empty) 0 0 0 0px #fff,
      var(--tw-empty) 0 0 0 calc(1px + 0px) rgba(59, 130, 246, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
  .fill-current {
    fill: currentcolor;
  }
  .text-white {
    color: rgb(232, 230, 227);
  }
  .text-red-700 {
    color: rgb(229, 81, 81);
  }
  .text-red-800 {
    color: rgb(228, 105, 105);
  }
  .text-green-100 {
    color: rgb(184, 249, 206);
  }
  .text-green-900 {
    color: rgb(156, 231, 186);
  }
  .text-blue-200 {
    color: rgb(160, 210, 254);
  }
  .text-blue-700 {
    color: rgb(80, 150, 232);
  }
  .text-blueGray-400 {
    color: rgb(176, 169, 159);
  }
  .text-blueGray-600 {
    color: rgb(176, 170, 159);
  }
  .text-blueGray-900 {
    color: rgb(214, 210, 205);
  }
  .text-brand-default {
    color: rgb(143, 181, 215);
  }
  .hover\:text-red-900:hover {
    color: rgb(225, 125, 125);
  }
  .hover\:text-blue-900:hover {
    color: rgb(130, 175, 228);
  }
  .hover\:text-blueGray-800:hover {
    color: rgb(204, 199, 193);
  }
  .ͼ1.cm-wrap.cm-focused,
  div[contenteditable='true']:focus {
    outline-color: initial !important;
  }
  .tabs::after {
    background-color: rgb(36, 39, 41);
  }

  /* Override Style */
  .vimvixen-hint {
    background-color: #7b5300 !important;
    border-color: #d8b013 !important;
    color: #f3e8c8 !important;
  }
  ::placeholder {
    opacity: 0.5 !important;
  }
}
