@font-face {
  font-family: 'Gordita';
  src: url('/Gordita-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url('/Gordita-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

div[contenteditable='true']:focus {
  outline: none !important;
}

.wrapper,
.wrapper--forced {
  --top: minmax(0, 1fr);
  --bottom: minmax(0, 1fr);

  grid-template-rows: auto minmax(0, var(--top)) 12px auto minmax(0, var(--bottom));
  grid-template-columns: 1fr;
}

@screen md {
  .wrapper {
    --left: minmax(0, 1fr);
    --right: minmax(0, 1fr);

    grid-template-rows: auto minmax(0, 1fr);
    grid-template-columns: minmax(0, var(--left)) 12px minmax(0, var(--right));
  }
}

textarea.monaco-mouse-cursor-text:focus {
  box-shadow: unset;
}
