/* @font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

div[contenteditable="true"]:focus,
.ͼ1.cm-wrap.cm-focused {
  outline: none !important;
}

.wrapper {
  grid-template-rows: auto auto 1fr auto 1fr;
}

@screen md {
  .wrapper {
    grid-template-rows: auto auto 1fr;
  }
}
