@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/FiraCode/fira_code.woff2') format('woff2-variations'),
    url('./fonts/FiraCode/fira_code.woff') format('woff-variations');
  font-weight: 300 700;
  font-style: normal;
}

div[contenteditable='true']:focus {
  outline: none !important;
}

.wrapper,
.wrapper--forced {
  grid-template-rows: auto auto minmax(0, 1fr) auto minmax(0, 1fr);
}

.column-resizer {
  @apply relative z-50;
}

.column-resizer:hover::after {
  content: '';
  @apply absolute top-0 left-[-6px] right-[-6px] bg-brand-default h-full;
}

@screen md {
  .wrapper {
    --left: minmax(0, 1fr);
    --right: minmax(0, 1fr);

    grid-template-rows: auto auto minmax(0, 1fr);
    grid-template-columns: minmax(0, var(--left)) 2px minmax(0, var(--right));
  }
}

.tabs {
  @apply relative;
}

.tabs::after {
  content: '';
  height: 2px;
  @apply absolute w-full left-0 bottom-0 bg-blueGray-200 dark:bg-blueGray-700 z-0;
}

textarea.monaco-mouse-cursor-text:focus {
  box-shadow: unset;
}
